.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 10rem;

  background-color: #DEDEDE;

}

@media (min-width: 1440px) {
  .main {
    padding: 2rem 20rem;
  }
}
